{#
 # -------------------------------------------------------------------------
 # ldaptools plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of ldaptools.
 #
 # ldaptools is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # ldaptools is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with ldaptools. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @author    François Legastelois
 # @author    Rafael Ferreira (GLPI 11 adaptation + enhancements)
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # -------------------------------------------------------------------------
 #}

{% if not can_use %}
    <div class="center" style="margin-top: 2em;">
        <div class="alert alert-warning d-inline-flex align-items-center gap-2" style="max-width: 600px;">
            <i class="fas fa-exclamation-triangle fa-2x"></i>
            <div>
                <strong>{{ __("LDAP Extension Missing") }}</strong><br/>
                {{ __("The LDAP extension of your PHP parser isn't installed. Install php-ldap and restart your web server.") }}
            </div>
        </div>
    </div>
{% else %}
    <div class="center" style="margin-top: 1em;">
        <table class="tab_cadre" style="min-width: 500px;">
            <thead>
                <tr>
                    <th colspan="3">
                        <i class="fas fa-network-wired mr-1"></i>
                        {{ __('LDAP Tools', 'ldaptools') }} <small>v{{ constant('PLUGIN_LDAPTOOLS_VERSION') }}</small>
                    </th>
                </tr>
                <tr class="tab_bg_2">
                    <th style="width: 40px;"></th>
                    <th>{{ __('Tool', 'ldaptools') }}</th>
                    <th>{{ __('Description') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for filepath in filepaths %}
                    {% if filepath.link is defined and filepath.name is defined %}
                        <tr class="tab_bg_1">
                            <td class="center">
                                <i class="{{ filepath.icon|default('fas fa-cog') }}"></i>
                            </td>
                            <td>
                                <a href="{{ filepath.link }}">{{ filepath.name }}</a>
                            </td>
                            <td>
                                {{ filepath.comment|default(__('No comments')) }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
